.todo_div {
    padding:1%;
  }



  .edit {
    position: absolute;
    right: 2.25rem;
    top: 0.6rem;   
    cursor: pointer; 
}  

.div_1
{
  height: 58%;
  position: absolute;
  width: 100%;  
  overflow: auto;
}

.div_2
{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 70%;
  padding: 1%;
}

.center
{
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}
